[2019-10-06 12:02] lirantal opened #2 "Convert a host to a valid URL automatically"
**Is your feature request related to a problem? Please describe.**
If a host is provided and not a URL with the protocol scheme then lighthouse won't handle it.
This doesn't work:

[code]

But this does:
[code]

**Describe the solution you'd like**
We can convert the website argument provided and turn it into a URL using Node.js' built in API for this, then pass it to lighthouse.

[2019-10-06 12:05] lirantal opened #3 "Add a loader while lighthouse scan runs"
**Is your feature request related to a problem? Please describe.**
As it may take some time, fairly up to half a minute, to scan a website to detect used JS libs and their vulns, we could show a CLI loader to show that something is happening.

**Describe the solution you'd like**
Extra points if you want to be creative with the spinner ;-)

[2019-10-06 12:06] lirantal opened #4 "Add a JSON output option"
**Is your feature request related to a problem? Please describe.**
The default is to print out the results to the console but we could refactor the code to have multiple renderers, and add a `--json` flag to spit out the data in a JSON format.

[2019-10-06 12:11] ahmedkrmn commented on #2
Can I work on this?

[2019-10-06 12:13] ahmedkrmn commented on #3
Can you assign me this issue?

[2019-10-06 12:19] lirantal opened #5 "Project screenshot"
![Screen Shot 2019-10-06 at 15 18 40](https://user-images.githubusercontent.com/316371/66269065-a8e13200-e84c-11e9-9c42-22f8a428a341.png)

[2019-10-06 12:19] #5 closed

[2019-10-06 12:21] lirantal commented on #3
Sure thing.
Would be happy if you could run your idea for a spinner so we could see together if its a good fit.

[2019-10-06 12:31] rajkumaar23 commented on #4
I would like to contribute to this feature. Kindly assign me this ?

[2019-10-06 12:32] lirantal opened #6 "Add support for printing out detected JS libraries"
**Is your feature request related to a problem? Please describe.**
While not particularly showing vulnerabilities but lighthouse also exposes an audit called `'js-libraries'` which details the detected (if any) JS libraries. We could print them out as extra meta data tool

**Describe the solution you'd like**
This will probably require a bit more goofing around work with the data from lighthouse s

[2019-10-06 12:33] lirantal commented on #4
Thanks a bunch! you got it 👍

[2019-10-06 12:38] SoldierCorp commented on #2
Hi, can I take this one?

[2019-10-06 12:39] lirantal commented on #2
Sounds like a plan 👍

[2019-10-06 12:55] rajkumaar23 commented on #4
Can you tell few sites that has vulnerabilities ? I couldn't find one.

[2019-10-06 12:57] lirantal commented on #4
You mean to scan several sites? Nope, right now it supports just one URL.

[2019-10-06 12:59] rajkumaar23 commented on #4
No, I need an URL that has vulnerabilities. Whatever website I try, they all have 0 vulnerabilities.

[2019-10-06 13:03] SoldierCorp commented on #2
I am about to push the changes to my forked repo and I realised you have some guidelines for it so when I run `npm run commit` there isn't any commit script in the package.json, how can I proceed?

[2019-10-06 13:06] lirantal commented on #4
Oh I see what you mean, try this http://willhaben.at
You can easily grab a random one from the list of sites known to run old JS versions at https://w3techs.com/technologies/details/js-jquery/1/all

[2019-10-06 13:08] lirantal commented on #2
@SoldierCorp angular changelog works fine, so things like this should work:
`fix: i fixed something`
`feat(url): auto url coercing`

and so on.
you can also just add a `--no-verify` when you commit or push and I'll just squash the commits from your PR and fix the commit messages before I merge so don't worry too much about it.

[2019-10-06 13:09] SoldierCorp commented on #2
Sounds good!

[2019-10-06 14:10] AsterYujano opened #8 "Typo in readme"
- **Library Version**:
- **OS**:
- **Node.js Version**:

I wanted to help with some issues when I saw a typo in the readme. I did a PR for it.

[2019-10-06 16:13] DanielRuf commented on #6
See https://github.com/DanielRuf/website-stack/blob/master/index.js and https://github.com/AliasIO/Wappalyzer for some ideas ;-)

[2019-10-06 19:56] Mi10s opened #12 "It will not work if Chrome is not installed"
I've tried to run scan on my Linux Mint 19.2 Cinnamon and error was thrown at the terminal.

Can you please add in a README file that Chrome is necessary in order to make scan possible?

[2019-10-06 20:51] smeijer opened #14 "Throws error "URL is not defined""
## Expected Behavior

Some vulnerability report should be shown as output

## Current Behavior

[code]

## Steps to Reproduce (for bugs)

1. run `npx is-website-vulnerable http://google.com`
2. wait for results
3. read error `URL is not defined`

## Your Environment

- Library Version used: latest
- Node.js version: 8.16.1
- Operating System: Windows 10, up to date

[2019-10-06 20:57] lirantal commented on #14
I see it's on Windows, will look into it!

[2019-10-06 21:01] lirantal commented on #14
@ahmedkrmn as I see you're running Windows can you take a look into this issue since @smeijer reported it on a Windows OS? I don't have that handy to verify quickly

[2019-10-06 21:02] lirantal commented on #12
Definitely. Good point 👍

@Mi10s would you like to submit a PR that updates the README's `Install` section with this requirement note?

[2019-10-06 21:21] Mi10s commented on #12
Yes, I'll be glad to add PR with `Install` section update.

[2019-10-07 04:49] vadistic commented on #12
Does not seem to work for me on manjaro linux :sob:

But I'm guessing it's some `chrome-launcher` issue.

[code]

[2019-10-07 07:09] lirantal commented on #12
Do you have Chrome or Chromium installed?

[2019-10-07 07:22] doncullen commented on #14
Getting same issue.

Running Ubuntu via Windows Subsystem for Linux (WSL).  Distro info:

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.6 LTS"

Windows version: Microsoft Windows [Version 10.0.18362.388]

npm --v:  6.5.0
node --version: v9.11.2

[2019-10-07 07:29] #12 closed

[2019-10-07 07:31] lirantal commented on #12
:tada: This issue has been resolved in version 1.0.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/is-website-vulnerable)
- [GitHub release](https://github.com/lirantal/is-website-vulnerable/releases/tag/v1.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-07 07:39] lirantal commented on #12
@vadistic @Mi10s if you get a chance to test it under Linux (and have Chrome or Chromium installed) then can you give it another try? I added some flags required for Linux OS to get chrome launched.

[2019-10-07 07:41] Mi10s commented on #12
@lirantal Will do.

[2019-10-07 07:54] lirantal commented on #12
thanks! 🙏

[2019-10-07 07:55] lirantal commented on #14
@doncullen @smeijer while I didn't fix it, I added some debugging so we can see what's going on. Can you run:

[code]

and tell me what you see? it should show what URL is being passed to lighthouse to run the audits. Like this:

![image](https://user-images.githubusercontent.com/316371/66294166-029b3800-e8f1-11e9-8a79-c361b98c9675.png)

[2019-10-07 07:58] lirantal commented on #14
@doncullen @smeijer actually, just found the issue - I'm using the latest lighthouse version which requires Node.js >= 10 and you are both using older Node.js versions (6 and 8) (see reference of issue here: https://github.com/GoogleChrome/lighthouse/issues/8909#issuecomment-490852992)

Can you upgrade your Node.js instances and check?

[2019-10-07 08:01] Mi10s commented on #12
Just tested under Linux Ubuntu 16.04 (Chrome 77.0.3865.90) and it is working fine.

[2019-10-07 08:02] lirantal commented on #12
yay, thanks for testing letting me know ❤️

[2019-10-07 08:18] #14 closed

[2019-10-07 08:19] lirantal commented on #14
:tada: This issue has been resolved in version 1.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/is-website-vulnerable)
- [GitHub release](https://github.com/lirantal/is-website-vulnerable/releases/tag/v1.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-07 08:24] lirantal commented on #14
@doncullen @smeijer if you don't/can't upgrade your Node.js versions to >= 10 then you might still be able to use it - I added a workaround to allow lighthouse to run with your old Node.js versions. Nothing required on your part except from re-running it (if you installed `is-website-vulnerable` as a global module then make sure you upgrade it to 1.2.0 with `npm install -g is-website-vulnerable@1.

[2019-10-07 08:43] lirantal commented on #14
Cool stuff!

[2019-10-07 08:47] doncullen opened #18 "Output breaks in ZSH"
Current Behavior:
Displays certain characters incorrectly.  Missing font on my part, perhaps?

![image](https://user-images.githubusercontent.com/2024899/66296965-50457f80-e8b4-11e9-8f67-cfe23a96c8bd.png)

## Your Environment
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.6 LTS"
node --version: v12.11.1
shell: /bin/bash (zsh)

Ran this using ConEm

[2019-10-07 10:12] lirantal commented on #18
Good point. I'll see if it's possible to detect terminal support for these characters and have a fallback.

[2019-10-07 10:41] lirantal commented on #8
thanks @AsterYujano 👏

[2019-10-07 10:41] #8 closed

[2019-10-07 12:39] vadistic commented on #12
@lirantal Yes I did have chrome. You've fixed it. Works after update :tada:  Thank :)

[2019-10-07 12:55] lirantal commented on #12
yay

[2019-10-07 14:03] rajkumaar23 commented on #4
Hey, kindly review my pull request ?

[2019-10-07 16:49] smeijer commented on #14
Can confirm that it's working on v8.16 now as well.

[code]

[2019-10-08 19:22] seanhealy commented on #18
Just incase it helps I'm using zsh on MacOS 10.14.5 and not seeing the missing characters. Could still be a font or character set issue though. :)

[2019-10-08 19:26] lirantal commented on #18
Uhmm, possibly related to ConEmu..?

[2019-10-08 19:30] lirantal commented on #18
@doncullen could you run these 2 commands and tell me both of their exit status codes?

`npx supports-color-cli --16m` and `npx supports-color-cli --256`

[2019-10-08 19:34] doncullen commented on #18
![image](https://user-images.githubusercontent.com/2024899/66427001-bdeacc00-e9d8-11e9-9052-f229efa73ba0.png)

[2019-10-08 19:39] lirantal commented on #18
Oh sorry for missing that, you need to run `echo $?` after every command, so basically:

[code]

[2019-10-08 20:05] lirantal commented on #2
Fixed in #7

[2019-10-08 20:05] #2 closed

[2019-10-09 04:29] doncullen commented on #18
Ran it, --16m returned 1, --256 returned 0.

[2019-10-09 14:29] lirantal commented on #18
Thanks that's useful. I'll see if we can find a way to detect if the terminal supports those escape characters that are being used and fallback to something else

[2019-10-09 18:55] Cardoso222 opened #20 "Add the Project in lighthouse integration list"
The lighthouse repo have a [list](https://github.com/GoogleChrome/lighthouse#lighthouse-integrations) of services that have integrated Lighthouse data.
Would be great if this project was there!

[2019-10-09 19:46] lirantal commented on #20
Oh that's nice, thanks for letting me know I'll shoot up a PR soon 👍

[2019-10-10 03:42] Cardoso222 commented on #6
I'm on it!

[2019-10-10 08:44] #20 closed

[2019-10-12 09:36] lirantal commented on #18
@doncullen looks like this is some issue with ConEmu that is actually supporting UTF8 but I think the font it has to render the chars doesn't map correctly. Can you check if using a different terminal works? or perhaps the settings on ConEmu? https://conemu.github.io/en/UnicodeSupport.html

Happy to know if you're able to figure out and what solved it

[2019-10-14 08:22] unikitty37 opened #22 "Support Chromium as well as Chrome"
**Is your feature request related to a problem? Please describe.**
I have Chromium installed. I do not have Chrome installed, as I don't want the Google-specific stuff, and I don't want to agree to Google's TOS.

When I run `npx is-website-vulnerable http://example.com`, I get an `ERR_LAUNCHER_NOT_INSTALLED` message, despite the fact that Chromium is fully Chrome-compatible, and should work if the

[2019-10-15 04:33] rajkumaar23 commented on #4
Hey @lirantal ,  guess this issue can be closed.

[2019-10-15 04:46] samarpanda opened #23 "How to test for mobile & desktop pages for the same URL?"
Testing for mobile & desktop when they are using completely different setup. Any flags to use for screen-size / user agent / desktop|mobile?

[2019-10-15 08:07] #4 closed

[2019-10-18 13:57] jolic opened #26 "TypeError: this._select is not a function"
every ```npx is-website-vulnerable https://......``` ends with an error:

[code]

## Expected Behavior

It works.

## Current Behavior

It throws the above error.

## Your Environment

- Node.js v12.3.1, v8.16.1
- Mac Mojave 10.14.6

[2019-10-18 14:17] #26 closed

[2019-10-18 14:18] lirantal commented on #26
@jolic can you try executing it again once the new version get released? it should be published in a couple of minutes

[2019-10-18 14:19] lirantal commented on #26
:tada: This issue has been resolved in version 1.5.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/is-website-vulnerable)
- [GitHub release](https://github.com/lirantal/is-website-vulnerable/releases/tag/v1.5.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-18 20:59] lirantal commented on #23
@samarpanda is there a specific user-agent that identifies a mobile client? if so, we could support a `--mobile` flag that will set it. We can also set a window size indeed.

Can you figure out the details for the above flags of a window size and user-agent that would be good to identify a mobile device? If so, and you'd like to make the change yourself I'd be happy to merge a Pull Request doing t

[2019-10-18 21:02] lirantal commented on #22
@unikitty37 sounds like you've worked out all the details and I like your suggestion of passing a CLI argument of `--chrome-path` and passing that over to chrome launcher. Would you like to submit a PR to address this?

[2019-10-18 21:14] lirantal commented on #18
I'll close for now but you're welcome to chime in and update.

[2019-10-18 21:14] #18 closed

[2019-10-19 18:55] lirantal opened #30 "Add detected libraries to the JSON output results"
**Is your feature request related to a problem? Please describe.**
PR #21 added support for printing out detected JS libraries and their versions but they are provided if a JSON output is being used `--json`

[2019-10-19 20:48] mixth commented on #30
Interested. Does this JSON structure look fine to you?
[code]

[2019-10-19 20:55] lirantal commented on #30
The current JSON output looks as follows:

[code]

Ideally, we should have called the `result` field `vulnerabilities` and then we could add `libraries`. If we want to make that change we'd need to push a new major version out. Otherwise we can add `libraries` as another field next to `result` but it feels weird.

What do you think?

[2019-10-19 21:07] mixth commented on #30
Yes, it does feel weird. Changing `result` to `vulnerabilities` is clearer and more understandable.

I'm not sure how we are going to do this. Should I make the change in the same PR?

[2019-10-19 21:20] lirantal commented on #30
Yep, I agree. Make that change in the structure with your PR and we will mark it as a breaking change when I merge it to master.

[2019-10-19 21:38] mixth commented on #30
One quick question. When there is no `result`, the existing behavior is to create `"result": "No JavaScript libraries detected with publicly known security vulnerabilities"`.

Would you like to have `libraries` behave the same?
like: `"libraries": "No JavaScript libraries detected"`

I prefer both to be an empty array over string though.

[2019-10-19 21:40] lirantal commented on #30
Agree. Let's change them both to return empty arrays.

[2019-10-22 18:17] lirantal commented on #6
Closed by #29

[2019-10-22 18:17] #6 closed

[2019-10-22 18:17] lirantal commented on #3
closed by #13

[2019-10-22 18:17] #3 closed

[2019-10-22 19:54] zivkaziv commented on #23
Hey, I would like to work on it.
What do you think about general flag of

?

[2019-10-22 20:07] lirantal commented on #23
I think it might be too specific vs specifying `--mobile`.
The idea is that the flag will request a mobile version of the site, without someone needing to understand the internals of user agents, etc.

[2019-10-23 06:19] zivkaziv commented on #23
So just make sure I got it right, `--mobile` will enable the flag `--emulated-form-factor` in lighthouse.
Is that correct?

[2019-10-23 10:58] samarpanda commented on #23
Yes, as per the [lighthouse cli options doc](https://github.com/GoogleChrome/lighthouse#cli-options)

[2019-10-24 21:41] lirantal commented on #23
Yep

[2019-10-25 16:36] Z95 commented on #23
Thanks guys, I’m planning to deliver during the weekend.. Sorry that it’s taking me forever

[2019-10-25 16:39] zivkaziv commented on #23
I’m planning to deliver it during the weekend.. Sorry that it’s taking me forever

[2019-10-25 17:25] lirantal commented on #23
@zivkaziv no worries at all and no rush, family and your well being comes first ❤️

[2019-10-26 02:20] samarpanda commented on #23
@zivkaziv I can push one work in progress PR is you don't mind?

[2019-10-26 05:18] samarpanda commented on #23
https://github.com/lirantal/is-website-vulnerable/pull/33

[2019-10-26 08:43] zivkaziv commented on #23
Sure

[2019-10-26 09:07] lirantal commented on #23
@zivkaziv is there anything else to do it in that PR from your side @zivkaziv ?

[2019-10-26 10:53] zivkaziv commented on #23
Nope.
BTW, @samarpanda are you sure that `emulatedFormFactor` should be part of the opts, and not part of the lighthouseSettings?

[2019-10-26 13:15] zivkaziv opened #34 "Inject lighthouse initialisation parameters"
**Is your feature request related to a problem? Please describe.**
Every new lighthouse flag/ scan configuration/ whatever will require changes in the Audit class. Instead I think we should build the lighthouse parameters outside the Audit class, and inject it.
I think it will give more flexibility for more complex configurations, and less risk for regression bugs in the future.

**Describe the so

[2019-10-26 13:43] zivkaziv opened #35 "Trim UTM_* from snyk URLs"
**Is your feature request related to a problem? Please describe.**
The current output set utm_* query params in the snyk vulnerabilities url.
For example:
[code]
https://snyk.io/vuln/npm:jquery?lh=3.3.1**&utm_source=lighthouse&utm_medium=ref&utm_campaign=audit**

**Describe the solution you'd like**
Trim those utm_* query params from the URL

**Describe alternatives you've considered**

- Leave it

[2019-10-26 13:47] zivkaziv opened #36 "Misspelling Audit constructor parameter"
[code]
Misspelled parameter. Should be lighthouseSettings and not lighthoutSettings

## Expected Behavior
n/a

## Current Behavior
n/a

## Possible Solution
Replace lighthoutSettings to lighthouseSettings

## Steps to Reproduce (for bugs)
n/a

## Context
n/a

## Your Environment
n/a

- Library Version used:
- Node.js version (e.g. Node.js 5.4):
- Operating System and version (desktop or mobile):

[2019-10-26 16:27] github-actions[bot] opened #37 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-10-26 18:24] lirantal commented on #36
Good catch

[2019-10-26 18:24] lirantal commented on #36
@zivkaziv can you open a PR to fix this?

[2019-10-26 18:33] lirantal commented on #37
@DanielRuf I'm not actually sure why it would've attempted to release anything from master a couple of hours ago, since I didn't merge anything around that time.
Looks like there's a related issue with semantic-release but only available in the v16 beta version. Did you try any work around for this?

[2019-10-26 18:36] lirantal commented on #35
Will be fixed by #38

[2019-10-26 18:43] DanielRuf commented on #37
I'm not exactly sure what you mean. I have never used semantic-release.

[2019-10-26 18:44] DanielRuf commented on #37
Do you mean https://github.com/lirantal/is-website-vulnerable/blob/master/.github/workflows/main.yml#L29?

See https://github.com/lirantal/is-website-vulnerable/commit/98a943030c25a27a0799fe78e8357243866877e4#diff-354f30a63fb0907d4ad57269548329e3L14

So nothing special, or did I miss something?

Which exact issue do you mean (link)?

[2019-10-26 18:47] lirantal commented on #37
No you didn't miss anything, it's related to how semantic-release works and the github actions integration. I think this is the issue https://github.com/semantic-release/semantic-release/issues/1194 and will try to update to a newer version of it that is compatible.

[2019-10-26 18:49] zivkaziv commented on #36
Sure.. You can sign on me

[2019-10-26 20:45] #37 closed

[2019-10-26 21:37] lirantal commented on #36
Fixed by #40

[2019-10-26 21:37] #36 closed

[2019-10-27 07:25] #35 closed

[2019-10-27 10:36] unikitty37 commented on #22
I can look at it if I have time — but I fear that might not be for a while…

If anybody else fancies trying it in the meantime, I'm not going to get upset 😁

[2019-10-28 02:43] samarpanda commented on #23
I wanted to include the new flags in the readme. But it seems @zivkaziv has already added that to the readme. So, we don't need any documentation changes.

[2019-10-28 14:19] lirantal commented on #23
Closed by #33

[2019-10-28 14:19] #23 closed

[2019-10-28 14:21] lirantal commented on #34
I'm not entirely sure how this is a better approach though? you are still passing options to lighthouse's function call as far as I can see in that last line of code:
[code]

[2019-10-28 14:21] #30 closed

[2019-10-28 14:24] zivkaziv commented on #34
Just in order not to change `Audit class ` for every change of configuration. Make it more functional

[2019-10-28 14:28] zivkaziv commented on #34
Again, lighthouse configuration can change much more then the `audit.scanUrl()`..

[2019-10-28 14:32] lirantal commented on #34
yeah but why do we need to provide it in the function call `lighthouse()` if it is already provided to the constructor? I think that kind of refactor can be ok.

[2019-10-29 09:52] samarpanda opened #43 "Debug logging of device flag showing undefined"
Bug: Debug logging of device flag showing undefined

## Expected Behavior
It should ideally show used device flag via logging. Attaching screenshot for the bug. Missed to log it correctly in my previous PR.

Will share a PR for this.

## Current Behavior
![Screenshot 2019-10-29 at 12 04 58 PM](https://user-images.githubusercontent.com/802163/67756164-7f888000-fa5f-11e9-9e12-c5d69af83229.png)

## P

[2019-10-29 10:04] samarpanda commented on #43
[#44](https://github.com/lirantal/is-website-vulnerable/pull/44)

[2019-10-29 11:20] #43 closed

[2019-10-29 21:23] lirantal commented on #23
Yep, looks good!

[2019-11-06 10:56] 1shevelov opened #45 "'Set up completed' instead of vulnerability report"
Running the library from Windows Command Processor as suggested in README 'npx is-website-vulnerable /full URL/' without installing first. Tried couple of times with different websites with the same result.

## Expected Behavior

I see vulnerability report as demonstrated on the README's screenshot.

## Current Behavior

After waiting several minutes (3-4 at least) of running messages with differe

[2019-11-07 06:52] lirantal commented on #45
@1shevelov thanks for letting us know and sorry for the bad experience.
if you add a `--json` to the command does it work or are you experiencing similar issues?

[2019-11-07 06:53] lirantal commented on #34
Zvika I'll close this for now unless you'd want to pursue it later with some action where we can re-open it

[2019-11-07 06:53] #34 closed

[2019-11-07 07:07] zivkaziv commented on #34
NP..
Thank you:)

[2019-11-07 15:45] 1shevelov commented on #45
It worked with '--json' flag!
Took about 5 minutes on my SSD-less system (less then 4 min for wrong address) but found a vulnerability, displayed a report and finished correctly.

[2019-11-08 07:58] lirantal commented on #45
Thanks! it seems like the animations aren't showing up properly on that command prompt.
I assume if you try to run it again without JSON it still freezes?

If so, can I ask you to run: `npx terminal-detect` and share the output here?
Maybe there's a way we can detect incompatible terminals and fix it. And, If you are able to find a fix and push a PR I will happily merge it.

[2019-11-12 12:43] PPInfy commented on #45
Faced the same issue and I have given your command as well .
npx terminal-detect is-website-vulnerable  http://localhost:4200/ --desktop
npx: installed 4 in 40.989s
{ colors: { '16': true, '256': false, '16m': false },
  charset: { unicode: false } }

[2019-11-12 14:03] PPInfy commented on #45
Change Line 31 to fix this.
`const showProgressBar = !argv;` instead of const showProgressBar = !argv.json;

[2019-11-13 14:34] 1shevelov commented on #45
Yep, still freezes like reported, checked just now.

![npx-terminal](https://user-images.githubusercontent.com/30589388/68772981-c9668e00-063b-11ea-95df-5578076508c4.png)

[2019-11-13 18:13] lirantal commented on #45
const showProgressBar = !argv; instead of const showProgressBar = !argv.json;

This shouldn't be the reason, that line of code is ok.

[2019-11-13 18:43] #45 closed

[2019-11-14 05:35] PPInfy commented on #45
For me with just line 31 changes the code worked with the following test cases
is-website-vulnerable http://localhost:localport/
is-website-vulnerable http://localhost:localport/ --json (will take mobile as the argument as default).
is-website-vulnerable http://localhost:localport/ --json --desktop
is-website-vulnerable http://localhost:localport/ --json --js-lib
is-website-vulnerable http://local

[2019-11-14 09:43] lirantal commented on #45
Yep because you're disabling all prompt animation entirely.
I added a commit that disables it only when being used on Windows. Can you confirm that this is working well now for you?

[2019-11-14 10:31] PPInfy commented on #45
Did that and works. However for certain sites (https://www.linkedin.com/) it gives me the following error

node is-website-vulnerable.js  https://www.linkedin.com/ --json
ERROR: The process with PID 14648 (child process of PID 4764) could not be terminated.
Reason: There is no running instance of the task.

Error: Chrome could not be killed Command failed: taskkill /pid 4764 /T /F
ERROR: The proce

[2019-11-14 12:59] lirantal commented on #45
looks like an issue with Chrome launcher. I suppose that doesn't happen all the time with the same website, right?

[2019-11-14 13:08] PPInfy commented on #45
Happens all the time with https://www.linkedin.com/

[2019-11-14 13:12] lirantal commented on #45
Unfortunately I can't reproduce it here. Maybe that's just running a bit slow on your end which does some trouble to the chrome launcher when it attempts to kill the process?

[2019-11-14 15:20] PPInfy commented on #45
Looks like the dependency module is having the issue

https://github.com/GoogleChrome/chrome-launcher/issues/178

[2019-11-14 17:31] lirantal commented on #45
Oh thanks!
I may need to update that library in the shrinkwrap file then

[2019-12-02 07:05] lirantal commented on #22
@unikitty37 this is now supported thanks to @nopantsmonkey and a `--chromePath` CLI argument.

[2019-12-02 07:05] #22 closed

[2019-12-04 09:30] lirantal opened #49 "Idea: provide the tool with an authorization token or cookie to test deep pages of a website"
**Is your feature request related to a problem? Please describe.**
Currently, you can only test pages which you have access to as an anonymous user. What if you wanted to test a deeply nested page as a logged in user?

**Describe the solution you'd like**
Being able to provide a cookie or an authorization token that will be passed to Lighthouse (needs to check if LH supports this) will allow users

[2019-12-04 09:35] Ryuno-Ki commented on #49
Hm, I wonder whether this would even be allowed?
I mean, the enterprises I worked in so far aren't happy to see information leaking out.
Especially to Google (German privacy obsession, I guess).

[2019-12-04 09:36] lirantal commented on #49
How is google related and what information will leak out?

[2019-12-04 09:44] Ryuno-Ki commented on #49
I mean, with an Auth cookie, you poke a hole in a firewall to let someone else in, doesn't you?
Since JS is „active”, this would allow to run arbitrary scripts.

I mean, yeah, you could say you trust Google to not be evil, but…
It leaves a bad taste for me.

Information like your infrastructure. I imagine even use cases for staging environment here.

Could also be checks for logged in users. But t

[2019-12-04 17:20] lirantal commented on #49
Happy we're having this conversation so definitely thanks for chiming in.

Since JS is „active”, this would allow to run arbitrary scripts.

Maybe I'm missing something but I'm not sure this statement's relevancy to the project here.
Teams who leverage the tool in a CI/CD may not be outside of the corporate firewall, and even if they are, how is something like this tool different than running any

[2019-12-04 19:25] Ryuno-Ki commented on #49
Okay. Thanks for explaining. I had a wrong mental model of how this tool works.

[2019-12-04 21:20] lirantal commented on #49
No worries at all! Thank you for discussing this :)

[2019-12-10 20:21] amuhammadctac opened #52 "Containerization for ease of use"
**Is your feature request related to a problem? Please describe.**
It's not directly related to a problem, but I think that providing a Dockerfile for either building and running the container by themselves, or a docker image would be useful.

**Describe the solution you'd like**
I have already dockerized it's usage without having to install all the pre-requisites by the end users. I would like to

[2019-12-10 20:23] darkwizard242 opened #53 "Containerization for ease of use"
**Is your feature request related to a problem? Please describe.**
It's not directly related to a problem, but I think that providing a Dockerfile for either building and running the container by themselves, or a docker image would be useful.

**Describe the solution you'd like**
I have already dockerized it's usage without having to install all the pre-requisites by the end users. I would like to

[2019-12-14 05:55] lirantal commented on #52
@amuhammadctac hey, that's actually pretty cool.
would you be happy to contribute that Dockerfile here? I'm happy to add you as an author if we can publish the image and consume it under something like `https://hub.docker.com/r/lirantal/is-website-vulnerable` so we can communicate proper origin/source trust

[2019-12-15 20:40] travi opened #54 "installing extraneous dependencies"
i noticed some peer dependency warnings about semantic-release and got curious why my non-package project had semantic-release installed at all. it looks like your dev dependencies are getting installed for some reason.

## Expected Behavior

installing `is-website-vulnerable` should only install it and its production dependencies

## Current Behavior

even though semantic-release and its plugins

[2019-12-16 01:03] lirantal commented on #54
ahh, good catch, it is due to the shrinkwrap. will take a look at fixing this, thanks!

[2019-12-16 01:24] lirantal commented on #54
@travi which npm cli version are you running?

[2019-12-16 01:32] travi commented on #54
I'm just using the version installed with the version of node mentioned above. I'm afk atm, but can confirm in a bit

[2019-12-16 02:00] travi commented on #54
Regardless of whether dev dependencies _should_ be installed or not, the warnings i see after they do get installed in my project highlight that _your_ peer dependencies aren't compatible ;)

It looks like you're using the `beta` of semantic-release, but `latest` of the plugins. You should be using the pre-releases of those too. `npm ls` should help identify a compatible combination

[2019-12-16 02:03] travi commented on #54
So if those were resolved, it would at least prevent warnings on my side. While i agree that it's odd that shrinkwrap installs the dev dependencies, i don't necessarily mind if it doesn't cause errors

[2019-12-16 02:06] lirantal commented on #54
yep, I see those now too.
let's figure out first the shrinkwrap issue as I'd need to update that with any change regardless.

[2019-12-16 02:20] lirantal commented on #54
@travi can you try with the latest stable Node.js, or npm version `6.12.1` ?
I don't get peer dependency issues with it

[2019-12-16 02:21] lirantal commented on #54
Nevermind, I do see it. The npm CLI is weird as it skipped those in the first install but running another install after everything is installed they will show up 🤷‍♂

[2019-12-16 03:16] lirantal commented on #53
Not sure why we have a duplicate, because there's this original issue #52
Can you please chime in there and provide a Dockerfile in a PR? I'd love to merge it.

[2019-12-16 03:16] #53 closed

[2019-12-16 03:19] lirantal commented on #54
@travi can you check now if you're still getting peer deps issues?

[2019-12-16 04:19] travi commented on #54
so, unfortunately, it doesn't seem to be available yet:

[code]

i had a package [publish earlier today](https://github.com/travi-org/matt.travi.org-components/releases/tag/v3.1.7) that is still not available either. i sent a note to support earlier today, but the [status page](https://status.npmjs.org/) doesnt note any issues.

[2019-12-16 06:01] darkwizard242 commented on #52
@lirantal  - Apologies, actually the user @amuhammadctac is my work GitHub account and I ended up creating this Issue 52 using @amuhammadctac  by mistake instead of my personal one. Which is why I created a duplicate issue [53](https://github.com/lirantal/is-website-vulnerable/issues/53) using my personal GitHub account.

Yup, I am more than happy to contribute the Dockerfile as a PR to the reposi

[2019-12-16 14:20] travi commented on #54
at least i wasnt crazy: https://status.npmjs.org/incidents/lg9535dl2ff3

i'll keep an eye on the incident and test once it gets resolved

[2019-12-16 16:29] travi commented on #54
now that i could install the new version, i was able to confirm that the peer-dependency issues look good, but `npm ls` does still complain about the extraneous dev-dependencies, and therefore exits with `1` instead of `0`

[2019-12-18 00:26] lirantal opened #56 "An empathic CLI 🤗 if no input provided use a prompt"
**Is your feature request related to a problem? Please describe.**
I like highly empathic CLIs, so for example, instead of failing when there’s no URL provided perhaps we could use something like inquirer (or lighter package if exists, or just... Node.js core APIs? :-) ) that if no input is provided we prompt the user for it and then scan. Basically taking the frustration out of the process of usi

[2019-12-18 02:28] lirantal commented on #54
Yep, will see about fixing that.

[2019-12-18 21:14] lirantal commented on #52
@darkwizard242 sounds good indeed to add both the Dockerfile as well as updating the README to explain how to use it. You should be able to simply fork the repository and push a Pull Request to do so.

Sounds good about DockerHub 👍

Let me know if there's anything I can help with.

[2019-12-18 22:35] darkwizard242 commented on #52
@lirantal  - Thank you. I have created a [PR](https://github.com/lirantal/is-website-vulnerable/pull/57) for the change.

I have added a section in README for local build/run of Docker image/container. However, that will need to be updated once you have created a repository on DockerHub under your account to build and host the Docker image tags for anyone to pull down 👍

[2019-12-19 01:18] lirantal commented on #52
Looks good, let's continue the conversation on the PR

[2019-12-19 01:20] darkwizard242 commented on #52
Sure @lirantal  - Good with me. Please tag me to the PR with any comments (for visibility so I don't lose track :) )

[2019-12-19 01:35] #52 closed

[2019-12-19 21:32] itaisteinherz commented on #56
I'd like to work on this :)

[2019-12-23 21:41] #56 closed

[2019-12-24 18:15] lirantal opened #60 "Feat: refactor bin/is-website-vulnerable.js"
**Describe the solution you'd like**

Looks like https://github.com/lirantal/is-website-vulnerable/blob/master/bin/is-website-vulnerable.js had grown quite a bit. Let's refactor it? there are some clear separation of concerns there that can apply.

[2020-01-09 14:04] juanpicado commented on #60
I can do this :)

[2020-01-10 11:31] lirantal commented on #60
Thanks Juan, next time! :-)

[2020-01-15 14:32] VictorZubr commented on #60
I opened a new PR.

[2020-01-15 23:53] lirantal commented on #60
Thanks I'll follow-up with that one!

[2020-01-17 09:35] lirantal commented on #60
Fixed by #62

[2020-01-17 09:35] #60 closed

[2020-01-17 23:48] NicolasCARPi opened #63 "The Dockerfile can be improved"
## Expected Behavior

The Docker image should be as small as possible and run with an unprivileged user.

## Current Behavior

The Docker image is sub-optimal.

## Possible Solution

Improve the Docker image (PR coming up).

## Context

Docker users should expect the best/smallest possible image.

## Your Environment

- Library Version used: latest from master
- Node.js version (e.g. Node.js 5.4):

[2020-01-18 00:04] #63 closed

[2020-01-31 09:16] UlisesGascon commented on #49
I was investigating about it. Seems like for now the best option to add this feature is using  custom request headers. [See: lighthouse Docs](https://github.com/GoogleChrome/lighthouse/blob/HEAD/docs/authenticated-pages.md#option-3-pass-custom-request-headers-with-lighthouse-cli)

In terms of coding I guest the best option is to add extra flags at CLI level like:

For Oauth (Barrer):
`npx is-websi

[2020-01-31 10:11] lirantal commented on #49
@UlisesGascon exactly what I had in mind. And then you'll just pass either of these values into Lighthouse itself with the config options it supports, right? If so then perfect, let's do this 👌

[2020-01-31 12:37] UlisesGascon commented on #49
Pr on the way #67 😎

![hell yeah gif](https://media.giphy.com/media/tyxovVLbfZdok/source.gif)

[2020-01-31 12:39] lirantal commented on #49
Ha I love that gif ;-)

[2020-01-31 13:53] #49 closed

[2020-04-22 19:31] travi commented on #54
been a while since i've looked into this, so trying to remember where this landed. did we end up figuring out a way to sort out the shrinkwrap issues, or are we stuck in the state where devDependencies are getting wrapped until npm v7 is available?

[2020-04-23 15:34] lirantal commented on #54
Indeed still need to work on this. Let me get to review this again.

[2020-04-25 16:45] #54 closed

[2020-04-25 17:00] lirantal commented on #54
@travi is-website-vulnerable@1.14.1 fixes the issue now thanks to lockfile-prune

[2020-04-26 00:47] travi commented on #54
Great work! Looks like that did it. Thanks a lot!

[2020-07-16 15:39] Ryuno-Ki opened #73 "Scan errors out with PROTOCOL_TIMEOUT"
On Ubuntu in a corporate network
When I scan my employer's homepage (https://jambit.com/)
AND I turn `DEBUG=*` on,
Then I can see a start of the audit:
https://github.com/lirantal/is-website-vulnerable/blob/492bd53a8d497a2efc6654c4e92be248107e8379/src/Audit.js#L88-L91
And a timeout with `PROTOCOL_TIMEOUT` after a while (30 seconds?).

This does not happen when running the code
`npx is-website-vuln

[2020-07-16 21:21] lirantal commented on #73
Thanks @Ryuno-Ki for the detailed report 👍
Indeed I think we just need to detect and gracefully handle with a descriptive error message

[2020-08-06 18:40] rajkumaar23 commented on #73
Can I take this up? @lirantal

[2020-08-06 19:05] famouspotatoes opened #74 "Console error code of 2 during successful commands?"
Not sure if this is the intended behavior, but when I run the command successfully, it still outputs a console error code of "2". If I understand correctly, a successful command should output "0" for successful executions.

Is this the correct behavior?

If desired I can fill out the full bug report, but I figured a quick post would be better to address this small issue.

Otherwise thanks for the

[2020-08-06 20:46] lirantal commented on #73
@rajkumaar23 definitely, thank you ❤️

[2020-08-07 07:13] rajkumaar23 commented on #74
So, basically the command will exit with a status code of **2** if the website you're trying to run the command against has vulnerabilities.
https://github.com/lirantal/is-website-vulnerable/blob/492bd53a8d497a2efc6654c4e92be248107e8379/bin/is-website-vulnerable.js#L62-L63

[2020-08-07 14:04] famouspotatoes commented on #74
Ok thanks for letting me know. Is there an exit status code for unsuccessful commands (such as the website DNS records could not be found)?

[2020-08-07 14:28] rajkumaar23 commented on #74
Yes, it is **1**
https://github.com/lirantal/is-website-vulnerable/blob/492bd53a8d497a2efc6654c4e92be248107e8379/bin/is-website-vulnerable.js#L68-L70

[2020-08-08 10:28] lirantal commented on #74
Thanks Raj for picking up this one!

[2020-08-08 10:40] #73 closed

[2020-08-08 10:42] github-actions[bot] opened #76 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-08-08 10:45] lirantal commented on #76
updating the npm token and re-running CI

[2020-08-08 10:47] #76 closed

[2020-08-08 10:50] rajkumaar23 opened #77 "Spelling error in code"
I'm just curious why **authentication** was misspelled in the code. Was it intentional ? If not, I can make a PR fixing this one.
https://github.com/lirantal/is-website-vulnerable/blob/6db48335e7d688a17af9e2747db201b8df49c1c3/src/Utils.js#L46

[2020-08-08 10:54] lirantal commented on #77
Indeed a typo ;-)

[2020-08-08 10:54] lirantal commented on #77
A fix would be great!

[2020-08-08 11:20] #77 closed

[2020-08-18 01:00] devcoinfet opened #79 "not being quiet can you please supress these few messages during quiet"
npx: installed 301 in 5.888s

i can deal with this one at the least but these 2 i would like it if you could remove them in quiet mode for us

Error: Lighthouse was unable to reliably load the page you requested. Make sure you are testing the correct URL and that the server is properly responding to all requests. (Details: net::ERR_CERT_COMMON_NAME_INVALID)

Usage:
  is-website-vulnerable https://

[2020-08-18 01:01] devcoinfet commented on #79
so total there is only two im sorry never mind the npx ill get rid of that so that ssl error is all im worried about as its in my output

[2020-08-18 06:19] lirantal commented on #79
Well there's no "quiet mode" option yet, and that error is coming from lighthouse itself.
What would you expect to happen/see if there are errors?

Can you give me an example URL I can use to reproduce the issue?

[2020-08-18 22:34] devcoinfet commented on #79
ok ill look into lighthouse

[2020-08-18 22:35] devcoinfet commented on #79
https://github.com/GoogleChrome/lighthouse/issues/559

ill close it as this is my isue underlying during bounty scan i believe

[2020-08-18 22:35] #79 closed

[2020-08-19 08:26] lirantal commented on #79
👍

[2020-10-12 07:31] Celia-SSS opened #80 "Error: getaddrinfo ENOTFOUND localhost undefined:58866"
npm -i is-website-vulnerable -g

is-website-vulnerable https://example.com
[   =] Setting up a chrome instance
Error: getaddrinfo ENOTFOUND localhost undefined:58866

Usage:
  is-website-vulnerable https://www.google.com

[2020-10-12 07:34] Ryuno-Ki commented on #80
Can't reproduce:

[code]

What version are you using? (`is-website-vulnerable --version`)

[2020-10-14 08:59] Ryuno-Ki commented on #74
Should we document those Exit codes in the README, @lirantal?

[2020-10-16 20:23] lirantal commented on #74
@Ryuno-Ki yes, sounds like a great idea!
Can you open a PR to add?

[2020-10-16 20:39] Ryuno-Ki commented on #74
At your command: #81

[2020-10-16 20:42] #74 closed

[2020-10-29 07:32] lirantal commented on #80
@Celia-SSS any notes or should we close?

[2020-10-31 01:08] arto710 opened #82 "Home | Artoseek"
- - my
guy`[]() Drive[]()`

[2020-10-31 01:09] arto710 commented on #82
Need help to know if its secured?!

[2020-10-31 01:45] arto710 commented on #82
[]()driving
`bandlab/>Data`
[code]

[2020-10-31 01:47] arto710 commented on #82
- #Artoseek @artoseek artoseek ****  arto71) m
You
Band is da name[]()**_**

[2020-10-31 01:48] arto710 commented on #82
Rubicon`[]()
`

[2020-10-31 01:53] arto710 commented on #82
[]()slowly[]()
Send[]()me[]()steps[]()
To $[]()

[2020-10-31 02:00] arto710 commented on #82
[]()[]()**Hella good
[]()[]()**
Lightaoff[]()

[2020-10-31 02:01] arto710 commented on #82
`Traffic`
[]()ass[]()

 `#cal```

[2020-10-31 02:05] arto710 commented on #82
#[]()god
Blessmy[]()soul[]()4diz`[]()
A[]()R[]()t[]()o[]()s[]()e[]()e[]()k[]()
[]()artoseek`[]()
 []()trafficjaw[]()`

    []()sa[]()

[]()```foo[](``[]()
``slewp`[]()
[]()dam[]()
[code]
_``_
[code]
[code]

[2020-10-31 11:13] #82 closed

[2020-10-31 12:27] #80 closed

[2020-11-01 00:32] MontoyaAndres opened #83 "WSL 2 connect ECONNREFUSED 127.0.0.1:41299"
I just copy and paste the example on the README and tried on WSL 2 Ubuntu and I got this response:

![image](https://user-images.githubusercontent.com/15065852/97792712-b41da300-1baf-11eb-8c58-db321675f35d.png)

## Expected Behavior

Get the correct results.

- Library Version used: latest version downloaded with npx
- Node.js version (e.g. Node.js 5.4): 14.15.0
- Operating System and version (des

[2020-11-01 20:15] Ryuno-Ki commented on #83
I'm not using Windows (nor WSL).
Researching on the web suggested, that `wsl --shutdown` and reopening the terminal „solved” it for some people (temporarily).

I *think* I've seen a former colleague using a service (netstat?) to list the ports in use.
We're not allowing to pick another port (yet?), but this could give an indicator, whether another service is already listening on that port.

Do you

[2020-11-01 20:53] MontoyaAndres commented on #83
Mmmm I don't know if I have another Chrome headless running 😅

[2020-11-03 11:12] Ryuno-Ki commented on #83
There's a process / task manager in Windows. Does it show processes in WSL, too?
For Linux, it would be `ps aux | grep chrome`, I think.

[2020-12-16 16:40] Fraserhoenes opened #85 "Install via NPM reports Vulnerabilities"
# Install via NPM reports Vulnerabilities

## Expected Behavior

- run `npm install -g is-website-vulnerable`
- returns `added 294 packages, audited 294 packages in [x] seconds`
- returns `found 0 vulnerabilities`

## Current Behavior

- run `npm install -g is-website-vulnerable`
- returns `added 294 packages, audited 294 packages in [x] seconds`
- returns `9 vulnerabilities (3 low, 6 high)`

## P

[2020-12-17 10:23] lirantal commented on #85
There are indeed 2 issues as we can see here: https://snyk.io/test/github/lirantal/is-website-vulnerable

- is-url-superb we can upgrade to version 5.0.0 the latest which fixes the indirect security issue, [see here on the Advisor to validate](https://app.snyk.io/org/lirantal/project/4b921381-f2d4-4264-ad76-ac052647fba9):
![image](https://user-images.githubusercontent.com/316371/102475351-6d521280

[2020-12-17 13:09] Fraserhoenes commented on #85
I'm not **_crazy_** experienced but I've forked and I'll give it a go; before committing, check my PR carefully when it comes 😄

[2020-12-17 14:51] lirantal commented on #85
No worries at all, happy to review :-)

[2020-12-18 09:33] pysiak opened #87 "If Chrome is not available, can Edge be used?"
I have had is-website-vulnerable installed when I had Chrome. Company moved from Chrome to Edge and I don't have Chrome any longer.
Edge is Chromium-based. Can is-website-vulnerable fallback to Edge when Chrome is not found?

**Describe the solution you'd like**
If possible, check for Chrome first, then Edge. Perhaps as experimental feature, without support if there are breaking differences. I don

[2020-12-18 19:17] lirantal commented on #87
Not currently since lighthouse is part of the Chrome DevTools.
Edge has WebHint however which does support similar security vulnerabilities findings from Snyk but it would require updates to the code. If you're able to whip it up I'm happy to accept a pull request.

[2021-02-19 14:12] SamShanks1 opened #88 "JSON Output when running docker"
I don't know if this is already a thing, if it is I couldnt work out how to use it but is it possible to use the --json output when running it in a docker container?

[2021-02-19 14:17] Ryuno-Ki commented on #88
I'm curious, how would you want to process it further? What's the Big Picture?

[2021-02-19 14:20] SamShanks1 commented on #88
So I was using the npx scan to get the JSON result then process this into a database with the vulnerabilities, however I have moved it all to azure so I can automate the scans using a container instance the problem is the output I get is just the default output. I was just thinking maybe theres a way where you can add a parameter when running the container that would change the output to json.

[2021-02-19 17:49] lirantal commented on #83
Indeed we haven't tested this with WSL. If it has resolved for you @MontoyaAndres let us know.

[2021-02-19 17:49] #83 closed

[2021-02-19 19:14] lirantal commented on #88
@SamShanks1 I pushed a new version of the image for you which supports now command arguments to be passed.

The normal and existing behavior right now is:

[code]

Which works as is.
If you wish to pass arguments then you need to also specify the URL and everything else to is-website-vulnerable, such as:

[code]

[2021-02-19 19:15] #88 closed

[2021-02-19 20:06] lirantal commented on #85
Security vulnerabilities indeed exist here but none of this is a direct issue for the CLI.

[2021-02-19 20:06] #85 closed

[2021-02-19 20:07] #87 closed

[2021-03-01 12:40] jeising opened #90 "check private github pages"
To check private github pages their might be a need to access the website via login or token. Is there a way to do this with this action?

[2021-03-01 21:00] lirantal commented on #90
Good question!

There's a `--cookie` option that you can use.
See PR here: https://github.com/lirantal/is-website-vulnerable/pull/67

[2021-03-02 00:23] jeising commented on #90
I ended up using python http server to serve the website and use your docker run command with network is host to check the website. This has the benefit that a branch can be checked before it goes to master. Maybe there could be an option in the gh action to allow access to port 8000 (standard port for python http server) than I could use the gh action again. One downside is that I needed to use a

[2021-03-02 00:23] #90 closed

[2021-03-03 13:04] lirantal commented on #90
Thanks, glad to hear it worked out.

[2021-06-23 15:23] ibrahimcesar opened #92 "Error: perf.getEntriesByName is not a function on npx run"
## Expected Behavior
- Return report from the url provided

## Current Behavior

- Throws error `perf.getEntriesByName is not a function`

## Possible Solution

- Didn't debugged

## Steps to Reproduce (for bugs)

1. Used the command `npx is-website-vulnerable <url>`
2. Accepted install from npm
3. Returns error with Usage

## Context

[code]

## Your Environment

- Library Version used:
- Node.js

[2021-06-23 15:28] ibrahimcesar commented on #92
Thanks to you @lirantal ! Great tool! Thanks for the fast response! No pressure, and great work!

[2021-06-23 15:28] lirantal commented on #92
I'm using macOS too but on a previous version (10) which works ok here so I can't reproduce immediately:
![image](https://user-images.githubusercontent.com/316371/123124979-cc00aa80-d450-11eb-8f22-3151bae08c19.png)

[2021-06-23 15:29] ibrahimcesar commented on #92
No pressure, and thanks a lot for the report 😀!

[2021-06-23 15:43] lirantal commented on #92
Ok I was able to replicate this with Node.js 16 and npm7 🙃
If you're able to get back to npm6 then it'll probably fix it, but otherwise I'll take a look further and see what hassle it has with the package versions

[2021-06-23 15:46] lirantal commented on #92
https://github.com/GoogleChrome/lighthouse/issues/12439#issue-875596522

[2021-06-23 16:11] #92 closed

[2021-06-23 16:15] lirantal commented on #92
@ibrahimcesar latest version should work now with Node.js 16 (due to an indirect dependency on `marky` which was the issue).

You probably need to wait a bit for `npx` to pull in the new version from the registry, or just try it out and see if it's already working for you :)

[2022-10-29 12:16] tugrulates opened #101 "GitHub action fails silently"
There is an edge case where the action will fail silently, and mark the job as succeeded.

The input `scan-url` for the action is required. However, the run can still fail if an empty string is passed during the run. In my case, I was passing the output of another job.

## Expected Behavior

Job failure.

## Current Behavior

Job passing with the following logs.

[code]

## Steps to Reproduce (for

[2022-11-05 14:40] lirantal commented on #101
Thanks for reporting this @tugrulates! If you want to send over a pull request that fixes it I'm happy to merge.

[2022-11-05 14:53] lirantal commented on #101
Apologies on rushing for a fix here, I figured it would be the best to not keep many folks waiting on this.
Much appreciation friend!

[2022-11-05 14:56] #101 closed